<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmg.pss.mapper.DepartmentMapper">
	<resultMap type="Department" id="base_mapping">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="sn" column="sn" />
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id" parameterType="Department">
		insert into department(name,sn)
		values(#{name},#{sn})
	</insert>

	<delete id="delete">
		delete from department where id=#{id}
	</delete>

	<update id="update">
		update department
		<set>
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="sn!=null">
				sn=#{sn},
			</if>
		</set>
		where id=#{id}
	</update>

	<select id="get" resultMap="base_mapping">
		select * from department where
		id=#{id}
	</select>
	<select id="list" resultMap="base_mapping">
		select * from department
	</select>
	
	<sql id="conditionSql">
		
	</sql>
	<select id="getTotalCount" resultType="long">
		select count(*) from department
		<include refid="conditionSql"/>
	</select>
	
	<select id="pageQuery" resultMap="base_mapping">
		select * from department
		<include refid="conditionSql"/>
		limit #{beginIndex},#{pageSize}
	</select>
</mapper>
