<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmg.pss.mapper.RoleMapper">
	<resultMap type="Role" id="base_mapping">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="sn" column="sn" />
		<collection property="permissions" ofType="Permission"
			select="com.xmg.pss.mapper.PermissionMapper.selectByRoleId" column="id"></collection>
	</resultMap>

	<insert id="save" useGeneratedKeys="true" keyColumn="id"
		keyProperty="id">
		insert into role(name,sn)
		values(#{name},#{sn})
	</insert>

	<delete id="delete">
		delete from role where id=#{id}
	</delete>
	<update id="update">
		update role set name = #{name},sn=#{sn} where id =
		#{id}
	</update>
	<select id="get" resultMap="base_mapping">
		select * from role where id = #{id}
	</select>
	<select id="list" resultMap="base_mapping">
		select * from role
	</select>

	<select id="getTotalCount" resultType="long">
		select count(*) from role
	</select>
	<select id="pageQuery" resultMap="base_mapping">
		select * from role
		limit
		#{beginIndex},#{pageSize}
	</select>

	<insert id="updateRelation">
		insert into role_permission values(#{rid},#{pid})
	</insert>

	<delete id="deleteRelation">
		delete from role_permission where role_id=#{rid}
	</delete>

	<select id="getByEmpId" resultMap="base_mapping">
		select r.* from role r inner
		join employee_role er
		on r.id=er.role_id
		where er.employee_id=#{eid}
	</select>
</mapper>
